{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cho'girmali Blog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <link href="{% static 'assets_other/img/favicon.png' %}" rel="icon" />
  <link href="{% static 'assets_other/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets_other/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets_other/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets_other/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets_other/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets_other/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets_other/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets_other/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 20px black; 
      border-radius: 0;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: blue; 
      border-radius: 0;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #0b00a7; 
    }
  </style>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#skills" class="nav-link scrollto"><i class="bi bi-folder-check"></i> <span>Skills</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li><a href="#testimonials" class="nav-link scrollto"><i class="bi bi-list-stars"></i> <span>Testimonials</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center" style="width: 100%;height: 100vh;background-size: cover;position: relative;background: url('{% static 'assets_other/img/hero-bg.jpg' %}') top right no-repeat;">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1> <span class="text-primary"><</span> {{ user.full_name }}<span class="text-primary">></span></h1>
      <p>I'm <span class='text-primary'><</span> <span class="typed" data-typed-items="{{ user.fields }}"></span> <span class='text-primary'>></span></p>
      <div class="social-links">
        {% for social in socials %}
          <a href="{{ social.link }}" class="twitter"><i class="{{ social.icon }}"></i></a>
        {% endfor %}
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2><span class='text-primary'><</span> About<span class='text-primary'>></span></h2>
          <p>{{ user.bio }}</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{{ user.image.url }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Web &amp; Telegram Bot Developer.</h3>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>13 April 2004</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.chogirmaliyigit.uz</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{ user.phone_number }}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Khiva, Uzbekistan</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>19</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Junior</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>chogirmali.yigit@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
            </p>
          </div>
        </div>
        <div class="section-title mt-5">
          <h2><span class='text-primary'><</span> /About<span class='text-primary'>></span></h2>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2><span class='text-primary'><</span> Skills<span class='text-primary'>></span></h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row skills-content">

          {% for skill in skills %}
          <div class="col-lg-6">
            <div class="progress">
              <span class="skill">{{ skill.title }} <i class="val">{{ skill.protsent }}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.protsent }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="section-title mt-5">
          <h2><span class='text-primary'><</span> /Skills<span class='text-primary'>></span></h2>
        </div>
      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2><span class='text-primary'><</span> Resume<span class='text-primary'>></span></h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Brandon Johnson</h4>
              <p><em>Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.</em></p>
              <ul>
                <li>Portland par 127,Orlando, FL</li>
                <li>(123) 456-7891</li>
                <li>alice.barkley@example.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Fine Arts &amp; Graphic Design</h4>
              <h5>2015 - 2016</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Fine Arts &amp; Graphic Design</h4>
              <h5>2010 - 2014</h5>
              <p><em>Rochester Institute of Technology, Rochester, NY</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Senior graphic design specialist</h4>
              <h5>2019 - Present</h5>
              <p><em>Experion, New York, NY </em></p>
              <ul>
                <li>Lead in the design, development, and implementation of the graphic, layout, and production communication materials</li>
                <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
                <li>Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design</li>
                <li>Oversee the efficient use of production project budgets ranging from $2,000 - $25,000</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Graphic design specialist</h4>
              <h5>2017 - 2018</h5>
              <p><em>Stepping Stone Advertising, New York, NY</em></p>
              <ul>
                <li>Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).</li>
                <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="section-title mt-5">
          <h2><span class='text-primary'><</span> /Resume<span class='text-primary'>></span></h2>
        </div>
      </div>
    </section>

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2><span class='text-primary'><</span> Testimonials<span class='text-primary'>></span></h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            {% for feedback in feedbacks %}
            <div class="swiper-slide">
              <div class="testimonial-item">

                <img src="{{ feedback.image_feedback.url }}" class="testimonial-img" alt="{{ feedback.full_name_feedback }}" title="{{ feedback.full_name_feedback }}">
                <h3>{{ feedback.full_name_feedback }}</h3>
                <h4>{{ feedback.field_feedback }}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{ feedback.feedback }}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
          <div class="col-md-6 offset-3 text-center">
            <a href="" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Leave a Feedback
            </a>
          </div>
        </div>
        <div class="section-title mt-5">
          <h2><span class='text-primary'><</span> /Testimonials<span class='text-primary'>></span></h2>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Feedback</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="form-mf" method="post" enctype="multipart/form-data">
              {% csrf_token %}
            <div class="modal-body">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input type="text" name="full_name_feedback" class="form-control input-mf" id="inputName" placeholder="Name">
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <label for="ImageInput">Image</label>
                      <input type="file" name="image_feedback" id="ImageInput" class="form-control input-mf mt-2" placeholder="Image">
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <label for="EmailInput">Email</label>
                      <input type="email" name="email_feedback" id="EmailInput" class="form-control input-mf mt-2" placeholder="example@company.com">
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <label for="FieldInput">Field</label>
                      <input type="text" name="field_feedback" id="FieldInput" class="form-control input-mf mt-2" placeholder="Field *" required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea id="textMessage" name="feedback" class="form-control input-mf" placeholder="Feedback *" cols="45" rows="8" required></textarea>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Send Feedback</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3> <span class="text-primary"><</span> {{ user.full_name }}<span class="text-primary">></span></h3>
      <p>Sayt bo'ylab sayohatingiz maroqli o'tsin.😉</p>
      <div class="social-links">
        {% for social in socials %}
        <a href="{{ social.link }}" class="twitter"><i class="{{ social.icon }}"></i></a>
        {% endfor %}
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Cho'girmali Blog</span></strong>.
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a><br>
        Backend by <a href="https://chogirmaliyigit.uz/">Cho'girmali yigit</a>
      </div>
    </div>
  </footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets_other/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets_other/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets_other/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets_other/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets_other/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets_other/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets_other/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets_other/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets_other/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets_other/js/main.js' %}"></script>

</body>

</html>