{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta content="" name="keywords" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <title>{% block title %} {% endblock title %}</title>
    <!-- Template MyResume css files -->
    <link href="{% static 'assets_other/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets_other/img/apple-touch-icon.png' %}"
      rel="apple-touch-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets_other/vendor/aos/aos.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets_other/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets_other/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets_other/vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets_other/vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets_other/vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'assets_other/css/style.css' %}" rel="stylesheet" />
    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 20px black; 
        border-radius: 0;
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: blue; 
        border-radius: 0;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #0b00a7; 
      }
    </style>
  </head>
  <body>
    {% include 'navbar-profile.html' %}
    
    {% block content %}
    
    {% endblock content %}

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Brandon Johnson</h3>
        <p>
          Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni
          eligendi fuga maxime saepe commodi placeat.
        </p>
        <div class="social-links">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>MyResume</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: [license-url] -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets_other/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets_other/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets_other/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets_other/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets_other/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets_other/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets_other/vendor/typed.js/typed.min.js' %}"></script>
    <script src="{% static 'assets_other/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'assets_other/vendor/php-email-form/validate.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>

  </body>
</html>
